body,
html,
div {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Consolas";
}

body {
    background: linear-gradient(135deg, #003d38, #07003D) !important;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

button {
    -webkit-app-region: no-drag;
    background: inherit;
    border: none;
}

.title-bar {
    -webkit-app-region: drag;
    position: fixed;
    width: 100%;
    height: 28px;
    background: #030018;
    transition: 0.2s;
    top: 0;
    left: 0;
    line-height: 28px;
}

.close,
.minimize {
    font-family: "Material Icons";
    height: 100%;
    float: right;
    display: inline-block;
    text-align: center;
    width: 48px;
    transition: 0.2s;
    -webkit-app-region: no-drag;
}

.close:hover {
    background: red;
}

.minimize:hover {
    background: darkgrey;
}

.title {
    padding-left: 12px;
}

.main-container {
    margin-top: 28px;
    height: 630px;
}

.main-grid {
    height: inherit;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    border-collapse: separate !important;
}

.mt {
    margin-top: 28px;
}

.result {
    margin-top: 14px;
}

.control {
    width: 100%;
    height: 78%;
}

.log {
    width: 100%;
    height: 30%;
}

.log-box {
    width: 100%;
    height: 100%;
}

input, textarea {
    max-width: 400px;
    background: rgba(55, 48, 110, 0.8);
    border: 1px solid #57509D;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: none;
    transition: .5s ease;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1116px) {
    input, textarea {
        width: 75% !important;
    }

    .log {
        height: 7%;
    }
}

input:focus, textarea:focus {
    background-color: hsla(247, 39%, 50%, 0.8);
}

.control-box {
    height: 70px;
    width: 100%;
}

.zz {
    background: #97509D;
}


.line-input + button {
    height: 25px;
    font-size: 0.7em;
}

td {
    height: 56px;
    width: 84px;
    color: hsl(245, 32%, 90%);
    background: rgba(87, 80, 157, 0.25);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(87, 80, 157, 0.1);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}